.app-wrapper {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;

  display: grid;

  grid-template-areas:
    "header header"
    "aside content";
  grid-template-rows: 100px 1fr;
  grid-template-columns: 2fr 10fr;

  grid-gap: 10px;
}

.content {
  grid-area: content;

  background-color: palegoldenrod;
}